/*body {*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    background-image: url('../../assets/mainpage.jpg');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/*.main-layout {*/
/*    flex: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.header {*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*    padding: 0 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.sider {*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*    padding: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*}*/

/*.content {*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*    margin: 20px;*/
/*    padding: 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.footer {*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    padding: 10px 0;*/
/*}*/

.mainpage-container {
    height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    background-color: #f5f5f5;
}

.mainpage_inner {
    min-width: 1280px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    overflow: auto;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}